body{
    height:100vh;
    background-size: cover;
    background-position:left;
    margin: 0 auto;
}
 
.container{
  flex-wrap: wrap;
}
 h2{
     background-color: ivory;
     padding: 30px;
     margin-top: 125px;
     margin: 0 auto;
     text-align: center;
     border-radius: 6px;
 }
 button{
     width: 150px;
     padding: 10px;
     margin: 0 auto;
     background-color: rgb(179, 149, 111);
     position: center;
     border-radius: 5px;
     margin-left: 100px;
 }
 .form {
     background-color: rgba(128, 128, 128, 0.411);
     position: relative;
     z-index: 1;
     max-width: 360px;
     margin: 0 auto;
     padding: 45px;
     margin-top: 125px;
     height: 350px;
 }
 p{
     font-weight: bold;
     color: #ffff;
 }
 a{
     color: darkorange;
 }
 input{
     font-family: "Roboto",sans-serif ;
     outline: lemonchiffon;
     width: 300px;
     padding: 15px;
     margin: 10px;
     text-align: center;
     border-radius: 5px;


 }
 .form.register-form{
     display:none;
 }
 .message{
     margin-left: 60px;
 }